<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Foods</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/napkins.css') }}"/>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/images/favicon/favicon-32x32.png') }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href=" {{ url_for('static', filename='images/favicon/favicon-16x16.png') }}"/>
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}"/>
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicon/safari-pinned-tab.svg', color='#5bbad5') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}"/>

    <meta name="msapplication-TileColor" content="#00aba9"/>
    <meta name="msapplication-config" content="static/images/favicon/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>

</head>


<body>
<h2>Fast Food Types</h2>

<hr>

<h4>Type One</h4>

<hr>

<div class="fast-food">

    <a href="/contacts">

        <img src="/static/images/gallery/ff.jpeg" alt="Napkins" width="204" height="204">
        <img src="/static/images/gallery/ff-1.jpeg" alt="Napkins" width="204" height="204">

    </a>

</div>

<hr>

</body>

<footer>TM here and COPYRIGHTS</footer>

</html>