<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>RZSI-DOC-TEMPLATES</title>
  
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/images/favicon/favicon-32x32.png') }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href=" {{ url_for('static', filename='images/favicon/favicon-16x16.png') }}"/>
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}"/>
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicon/safari-pinned-tab.svg', color='#5bbad5') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}"/>

    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="static/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

</head>

<body>
    <h1>RZSI-DOC-TEMPLATES</h1>

    <div class="objects-by-type">

        <div class="type-one">
            <a href="/fast-food"> <img src="/static/images/gallery/ff.jpeg" alt="Sandwiches and beverage"> </a>
        </div>

        <div class="type-two">
            <a href="/meals"> <img src="/static/images/gallery/ff-1.jpeg" alt="Sand and Ham"> </a>
        </div>

        <div class="kitchen-size">
            <a href="/fast-food"><img src="/static/images/gallery/" alt="Kitchen Roll"> </a>
        </div>

        <div class="kitchen-raw">
            <a href="/meals"> <img src="/static/images/gallery/" alt="Napkins"> </a>
        </div>


        <div class="type-one">
            <a href="/contacts"><img src="/static/images/gallery/" alt="Kitchen Roll"> </a>
        </div>


        <div class="type-two">
            <a href="/contacts"><img src="/static/images/gallery/" alt="Napkins"> </a>
        </div>

    </div>

</body>

<footer> Copyrights 2024 &copy; Vesteros BG Ltd </footer>

</html>