<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}"/>

</head>
<body>

    <h1>Image Gallery Hover Effect</h1>
<div class="gallery">

  <div class="gallery-panel">
    <img src="/static/images/kitchen-roll-white-24-pack.jpg" alt="Kitchen Roll">
  </div>

  <div class="gallery-panel">
    <img src="/static/images/kitchen-roll-white-24-pack.jpg" alt="Kitchen Roll">
  </div>

  <div class="gallery-panel">
    <img src="/static/images/kitchen-roll-white-24-pack.jpg" alt="Napkins"> 
  </div>

  <div class="gallery-panel">
    <img src="/static/images/kitchen-roll-white-24-pack.jpg" alt="Toilet Paper">
  </div>
  <div class="gallery-panel">
    <img src="/static/images/kitchen-roll-white-24-pack.jpg" alt="Kitchen Roll">
  </div>

</div>
    
</body>
</html>