<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Velinov gallery</title>
  
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}"/>

</head>
<body>

    <h1>Velinov`s Gallery</h1>
<div class="gallery">

  <div class="gallery-panel">
    <a href="/contacts/"> <img src="/static/images/kitchen-roll-white-24-pack.jpg" alt="Kitchen Roll"> </a>
  </div>

  <div class="gallery-panel">
    <a href="/contacts/"><img src="/static/images/kitchen-roll-white-single.jpg" alt="Kitchen Roll"> </a>
  </div>

  <div class="gallery-panel">
    <a href="/contacts/"><img src="/static/images/napkins-100.jpg" alt="Napkins"> </a> 
  </div>

  <div class="gallery-panel">
    <a href="/contacts/"><img src="/static/images/kitchen-roll-white-4-pack.jpg" alt="Kitchen Roll"> </a>
  </div>
  <div class="gallery-panel">
    <a href="/contacts/"><img src="/static/images/tp-white-40.jpg" alt="Toilet Paper"> </a>
  </div>

</div>
    
</body>
</html>