<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Napkins</title>
</head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Napkins</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/napkins.css') }}"/>


<body>
<h2>Napkins Gallery</h2>

<hr>

<h4>Napkins</h4>

<div class="napkins">

    <img src="/static/images/gallery/napkins-red.jpg" alt="Napkins">
    <img src="/static/images/gallery/napkins-blue-lux.jpg" alt="Napkins">
    <img src="/static/images/gallery/napkins-100.jpg" alt="Napkins">
    <img src="/static/images/gallery/napkins-white.jpg" alt="Napkins">
    <img src="/static/images/gallery/napkins-black.jpg" alt="Napkins">

</div>

</body>
</html>