<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Napkins</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/napkins.css') }}"/>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/images/favicon/favicon-32x32.png') }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href=" {{ url_for('static', filename='images/favicon/favicon-16x16.png') }}"/>
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}"/>
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicon/safari-pinned-tab.svg', color='#5bbad5') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}"/>

    <meta name="msapplication-TileColor" content="#00aba9"/>
<meta name="msapplication-config" content="static/images/favicon/browserconfig.xml"/>
<meta name="theme-color" content="#ffffff"/>

</head>


<body>
<h2>Napkins Gallery</h2>

<hr>

<h4>Napkins</h4>

<div class="napkins">

    <a href="/contacts">

    <img src="/static/images/gallery/napkins-red.jpg" alt="Napkins" width="300" height="300">
    <img src="/static/images/gallery/napkins-blue-lux.jpg" alt="Napkins" width="300" height="300">
    <img src="/static/images/gallery/napkins-100.jpg" alt="Napkins" width="300" height="300">
    <img src="/static/images/gallery/napkins-white.jpg" alt="Napkins" width="300" height="300">
    <img src="/static/images/gallery/napkins-black.jpg" alt="Napkins" width="300" height="300">

    </a>

</div>

</body>
</html>