* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
  }
  
  body {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #131722;
    background-color: #f7f8fd;
    padding: 30px 50px;
  }
  
  .page-width {
    width: 100%;
    max-width: 900px;
    margin-inline: auto;
  }
  
  .mosaic {
    display: grid;
    gap: 1rem;
  }
  
  .mosaic-block {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    min-height: 300px;
  }
  
  .mosaic-block img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 0.5s;
  }
  
  .mosaic-block:hover img {
    scale: 1.05;
  }
  
  .mosaic-block h3 {
    position: relative;
    padding: 1.5rem;
    font-size: 1.3125rem;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.3) 10%, transparent);
    user-select: none;
  }
  
  .mosaic-layout-2,
  .mosaic-layout-3,
  .mosaic-layout-5 {
    /*
      100 - 16 = 84
      First column = 84 * 2/3
      Second column = 84 * 1/3
    */
    grid-template-columns: 2fr 1fr;
  }
  
  .mosaic-layout-3 .mosaic-block,
  .mosaic-layout-4 .mosaic-block {
    min-height: 250px;
  }
  
  .mosaic-layout-3 .mosaic-block:nth-child(1) {
    /* grid-area: 1 / 1 / 3 / 2; */
    /* grid-row-start: 1; */
    /* grid-row-end: 3; */
    grid-row: span 2;
  }
  
  .mosaic-layout-4 {
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
  }
  
  /* .mosaic-layout-4 .mosaic-block:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .mosaic-layout-4 .mosaic-block:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 4;
  } */
  
  .mosaic-layout-4 .mosaic-block:nth-child(1),
  .mosaic-layout-4 .mosaic-block:nth-child(4) {
    grid-column: span 2;
  }
  
  .mosaic-layout-5 .mosaic-block {
    min-height: 170px;
  }
  
  .mosaic-layout-5 .mosaic-block:nth-child(1),
  .mosaic-layout-5 .mosaic-block:nth-child(4) {
    grid-row: span 3;
  }
  
  .mosaic-layout-5 .mosaic-block:nth-child(2),
  .mosaic-layout-5 .mosaic-block:nth-child(3),
  .mosaic-layout-5 .mosaic-block:nth-child(5) {
    grid-row: span 2;
  }
  
  @media (max-width: 575px) {
    .mosaic {
      grid-template-columns: 1fr;
    }
  }
  