.NapkinsGallery {
    border-style: solid;
    border-color: rgba(219, 8, 8, 0.863);
    padding: 20px;
    margin: 20px;
    background: linearGradient(to right, #06d16c, #e2f10c);
}


.napkinsGallery {
    background: linearGradient(to right, #320ae4, #08ebd8);
}
