.napkinsGall {
    box-sizing: border-box;
    border-style: solid;
    position: relative;
    border-color: #3be622;
    width: fit-content;
    padding: 10px;
    margin: 10px auto 10px 10px;
    background: linear-gradient(to right, #06d16c, #0d2dcc);
}

.rollstpGall {
    box-sizing: border-box;
    border-style: solid;
    border-color: #3be622;
    position: relative;
    width: fit-content;
    padding: 10px;
    margin: 10px auto 10px 10px;
    background: linear-gradient(to right, #06d16c, #0d2dcc);

}


.paragraph {
    box-sizing: border-box;
    position: relative;
    border-style: solid;
    border-color: gray;
    padding: 10px;
}

html {
    background: linear-gradient(to right, #0d2dcc, #1dd60d);
    }
